body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}

.btn-publish{
    float:right;
    margin-bottom: 15px;
}

.media-object{
    width: 38px;
    height: 38px;
}

.media-heading{
    margin-top: 10px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.comment{
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comment-heading{
    margin-top: 0;
}

.comment-icon{
    font-size: 15px;
    margin-right: 10px;
    margin-top: 5px;
}

.secondary-comment{
    border-style:solid ;
    padding: 10px;
    border-color: #4f9fcf;
}

.btn-secondary{
    margin-top:10px;
}