body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}

.btn-publish{
    float:right;
    margin-bottom: 15px;
}

.btn-readall{
    float: right;
}

.media-object{
    width: 38px;
    height: 38px;
}

.media-heading{
    margin-top: 10px;
    color:#337ab7;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.comment{
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comment-heading{
    margin-top: 0;
}

.comment-icon{
    font-size: 15px;
    margin-right: 10px;
    margin-top: 5px;
}

.secondary-comment{
    border-style:solid ;
    padding: 10px;
    border-color: #4f9fcf;
}

.btn-secondary{
    margin-top:10px;
}

.comments{
    margin:5px;
}

.list-group{
    margin-bottom: 0;
}

.label{
    margin-right: 5px;

}

.nav-tabs{
    margin: 10px 10px 10px 0;
}

.publish-tag-tab {
    display: none;
}

.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}