<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="sectionName"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:include="navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-user" aria-hidden="true" th:text="${sectionName}"></span></h2>
            <hr>

            <div class="media" th:each="question : ${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading " th:text="${question.getTitle()}"></h4>
                    <span th:text="${question.description}"></span><br>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 •<span
                            th:text="${question.viewCount}"></span> 次浏览 •
                            <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 visible-lg">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <nav aria-label="Page navigation" >
                        <ul class="pagination">
                            <li th:class="${pagination.showFirstPage} ? '' : 'disabled' ">
                                <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous"  >
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>
                            <li th:class="${pagination.showPreviousPage} ? '' : 'disabled' ">
                                <a th:href="@{'/profile/'+${section}(page=${pagination.currentPage-1})}" aria-label="Previous"  >
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page : ${pagination.pages}"
                                th:class="${pagination.currentPage == page} ? 'active' : '' ">
                                <a th:href="@{'/profile/'+${section}(page=${pagination.currentPage})}">
                                    <span th:text="${page}"></span>
                                </a>
                            </li>
                            <li th:class="${pagination.showNextPage} ? '' : 'disabled' ">
                                <a th:href="@{'/profile/'+${section}(page=${pagination.currentPage+1})}">
                                    <span>&gt;</span>
                                </a>
                            </li>
                            <li th:class="${pagination.showEndPage} ? '' : 'disabled' ">
                                <a th:href="@{'/profile/'+${section}(page=${pagination.pageCount})}" aria-label="Next">
                                    <span aria-hidden="true">&gt;&gt</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-lg-3 visible-lg">
            <div class="list-group section">
                <a href="/profile/questions"  th:class="${section == 'questions'} ? 'active list-group-item' : 'list-group-item' ">我的问题</a>
                <a href="/profile/replies"  th:class="${section == 'replies'} ? 'active list-group-item' : 'list-group-item' ">
                    <span class="badge">14</span>
                    最新回复
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>