<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:include="navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <span>
                    <span class="glyphicon glyphicon-user" aria-hidden="true" th:text="${sectionName}"></span>
                    <button type="button" class="btn btn-success btn-readall" th:if="${section.equals('replies')}">全部已读</button>
                </span>
            </h2>
            <hr>

            <!--我的问题-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section.equals('questions')}">
                <div class="media" th:if="${pagination.data != null}" th:each="question : ${pagination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <a th:href="@{'/question/'+${question.id}}"><h4 class="media-heading " th:text="${question.getTitle()}"></h4></a>
                        <span th:text="${question.description}"></span><br>
                        <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 •<span
                                th:text="${question.viewCount}"></span> 次浏览 •
                            <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span></span>
                    </div>
                </div>

                <div th:if="${pagination.data == null || pagination.data.size() == 0}" class="alert alert-danger" role="alert">
                    <a href="/" class="alert-link">您未发布过问题，点击这里返回主页</a>
                </div>

            </div>

            <!--我的回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section.equals('replies')}">
                <div class="media" th:if="${pagination.data != null}" th:each="notification : ${pagination.data}">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${notification.notifierName}"></span>
                            <span th:text="${notification.typeName}" ></span>
                            <a th:href="@{'/notification/'+${notification.id}}">
                                <span th:text="${notification.outerTitle}"></span>
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </h4>
                        <span class="text-desc" th:text="${#dates.format(notification.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                    </div>
                </div>

                <div th:if="${pagination.data == null || pagination.data.size() == 0}" class="alert alert-danger" role="alert">
                    <a href="/" class="alert-link">目前没有通知，点击这里返回主页</a>
                </div>

            </div>



            <div class="row">
                <div class="col-lg-6 visible-lg">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <nav aria-label="Page navigation" th:if="${pagination.count > 0}">
                        <ul class="pagination" th:if="${pagination.pages != null && pagination.pages.size() != 0}">
                            <li th:class="${pagination.showFirstPage} ? '' : 'disabled' ">
                                <a th:href="@{'/profile/'+${section}(page=1)}" aria-label="Previous"  >
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>
                            <li th:class="${pagination.showPreviousPage} ? '' : 'disabled' ">
                                <a th:href="@{'/profile/'+${section}(page=${pagination.currentPage}-1)}" aria-label="Previous"  >
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page : ${pagination.pages}"
                                th:class="${pagination.currentPage == page} ? 'active' : '' ">
                                <a th:href="@{'/profile/'+${section}(page=${page})}">
                                    <span th:text="${page}"></span>
                                </a>
                            </li>
                            <li th:class="${pagination.showNextPage} ? '' : 'disabled' ">
                                <a th:href="@{'/profile/'+${section}(page=${pagination.currentPage}+1)}">
                                    <span>&gt;</span>
                                </a>
                            </li>
                            <li th:class="${pagination.showEndPage} ? '' : 'disabled' ">
                                <a th:href="@{'/profile/'+${section}(page=${pagination.pageCount})}" aria-label="Next">
                                    <span aria-hidden="true">&gt;&gt</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-lg-3 visible-lg">
            <div class="list-group section">
                <a href="/profile/questions"  th:class="${section == 'questions'} ? 'active list-group-item' : 'list-group-item' ">我的问题</a>
                <a href="/profile/replies"  th:class="${section == 'replies'} ? 'active list-group-item' : 'list-group-item' ">
                    <span class="badge" th:if="${session.unreadCount > 0}" th:text="${session.unreadCount}"></span>
                    最新回复
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>